- Kpi::configuracion.each_key do |bloque|
  - if @tipo == bloque || @tipo.blank?
    %h3= bloque

    %span.enlace_volver= link_to '<< Volver a Control', :back if @tipo.present?
    %table.ranking
      %tr
        %th
        - @semanas.reverse_each do |semana|
          %th Semana #{ semana }
      - Kpi::configuracion[bloque].each do |fila|
        %tr
          %td= fila[:texto]
          - @semanas.reverse_each do |semana|
            %td.center= @kpi_semanales.select { |kpi| (kpi.semana == semana) && (kpi.modelo == fila[:modelo]) && (kpi.scope == fila[:scopes].to_s) }.first.try(:dato)
